{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Our Memory</title>
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>
<body>
<div class="head">
    <img src="{% static 'images/i-love-pets-image-to-symbol-44504086.jpg' %}" alt="mu">
    <h1><a href="/">vacabulary</a></h1>

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li class="message">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% block content %}{% endblock %}
<hr>
 </div>
<div class="main">
<a href="{% url 'admin:logout' %}">Logout</a>
</div>

</body>
</html>
